*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*margin-top: 5px;*/
}
body{
    background-color: rgb(133, 233, 18);
    font-family: sans-serif;
}
#container{
    
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
width: 100vw;
height: 50px;
margin-top: 10px;
padding-left: 25px;
padding-right: 25px;

}
header{
    position: sticky;
    top: 20;
}

#logo{
    height: 30px; 
    width: 50px;
}

#h-list{
    
    margin-right: 10px;


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.hearderli{
    padding-top: 4px;
    margin-right: 10px;    
    
    width: 70px;
    height: 30px;
    list-style-type: none;


    display: flex;
    justify-content: center;
}

.headera{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

#headerul > .hearderli:hover{
    background-color: rgba(201, 197, 181, 0.3);
}

section{
    display: flex;

    
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
    border: 100px;
    flex-flow: row wrap;
    
    
}
#content{
    display: flex;
    align-items: flex-start;
}
nav{
    flex: 0;
    padding: 30px;
    padding-left: 50px;
    background-color: rgba(100, 0, 49.8, 0.4);    

    
}
article{
    flex: 1;
    padding: 30px;
    background-color: rgba(100, 0, 49.8, 0.2);
    font-size: 20px;

    
}
.navli{
    list-style-type: none;
    padding-top: 10px;

    font-weight: 700;
}

.nav-a:hover{
    color: rgb(36, 34, 34);
    
}

#articleimg{
    display: flex;
    height: 300px;
    min-width: auto;
    max-width: 600px;

    padding-top: 10px;
    padding-bottom: 10px;
}


footer{
    background-color: rgba(196, 77, 77, 0.3);
    
    width: 100%;
    height: 80px;
    

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 20px;

    
}
#footerdivlogo{


    flex-shrink: 0;
    margin-left: 25px;
}
#footerdivinput{
    flex-shrink: 1;
}
#footerdivimg{
    flex-shrink: 0;
    margin-right: 40px;
}


#footerlogo{
    border-radius: 8px;
    height: 40px;
    width: 100px;
}

#emailinput{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}
.footerimg{
    width: 8vw;
    height: 40px;
    border-radius: 10px;
}
#emailinput:focus{
    border: 3px solid rgba(100, 0, 49.8, 0.9);
}

#footerbtn{
    padding: 5px;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
}
.footerimg:hover{
    border: none;
    filter: invert(100%);
}
#footerlogo:hover, #logo:hover{
    filter: sepia(100%);
}
#footerbtn:hover{
    background-color: rgba(100, 0, 49.8, 0.4); ;
}